


<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h3>
        <%if task.completed?%>
        <input type="checkbox" id="scales" name="scales" checked>
         <%else%> 
         <input type="checkbox" id="scales" name="scales">
        <%end%> 
        <%= link_to task.title , task_path(task.id) %>        
      </h3>
      <%= link_to "Delete",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>



<%= link_to "Add a new task", new_task_path %>



